.browserupgrade {
    margin: 0 0 0 0;
    display: block;
    padding: 20px;
    background-color: $red;
    color: #fff;
    text-align: center;
    font-family: $sans;
    a {
        color: #fff;
        font-weight: bold;
    }
}
