{% extends "layout.njk" %}
{% block content %}
<div class="banner">
  <img class="banner__image" src="https://unsplash.it/1024/350/?blur">
  <div class="banner__caption">
    <h2 class="banner__heading">Banner Module</h2>
  </div>
</div>
<pre class="line-numbers"><code class="language-markup"><xmp>
<div class="banner">
  <img class="banner__image" src="https://unsplash.it/1024/350/?blur">
  <div class="banner__caption">
    <h2 class="banner__heading">Banner Module</h2>
  </div>
</div>
</xmp></code></pre>
{% endblock %}
