<!-- index.njk -->
{% extends "layout.njk" %}


{% block content %}
<!--[if lt IE 8] -->
  <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/" target="_blank">upgrade your browser</a> to improve your experience.</p>
<!--[endif]-->
<pre class="line-numbers"><code class="language-markup"><xmp>
<!--[if lt IE 8] -->
  <p class="browserupgrade">
    You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/" target="_blank">upgrade your browser</a> to improve your experience.
  </p>
<!--[endif]-->
</xmp></code></pre>
  {% endblock %}