{% extends "layout.njk" %}
{% block content %}
<div class="hero">
  <picture>
    <source srcset="https://unsplash.it/g/1024/350/?blur" media="(min-width: 600px)">
    <img class="hero__image" srcset="https://unsplash.it/g/600/400/?blur" alt="…">
  </picture>
  <div class="hero__caption">
    <h2 class="hero__heading">Hero Module</h2>
  </div>
</div>
<pre class="line-numbers"><code class="language-markup"><xmp>
  <div class="hero">
    <picture>
      <source srcset="https://unsplash.it/g/1024/350/?blur" media="(min-width: 600px)">
      <img class="hero__image" srcset="https://unsplash.it/g/600/400/?blur" alt="…">
    </picture>
    <div class="hero__caption">
      <h2 class="hero__heading">Hero Module</h2>
    </div>
  </div>
</xmp></code></pre>
{% endblock %}
