{% extends "layout.njk" %}
{% block content %}
<div class="info-panel">
    <img class="info-panel__image" src="http://lorempixel.com/g/1024/768/abstract">

    <div class="info-panel__caption">
      <span class="info-panel__label">Info Panel</span>
      <h2 class="info-panel__heading">module</h2>
    </div>


    <div class="info-panel__content">
        <p class="info-panel__info">
          Opes wisi scisco. Importunus occuro nostrud a praemitto venio patria facilisi exerci aliquip imputo brevitas. Accumsan ut nobis damnum sudo commoveo os antehabeo nimis laoreet.</p>
        <a class="info-panel__link" href="#">learn more</a>
    </div>

</div>
{% endblock %}