<div class="pagination">
  <div class="desktop--show tablet-down--hide">
    <div class="pagination__to-top">
      <a href="#" id="scroll-top">back to top</a>
    </div>
  </div>
  <div class="pagination__pages">
    <a href="#" class="pagination__previous">Prev</a><span class="pagination__page-of">2 of 6</span><a href="#" class="pagination__next">Next</a>
  </div>
</div>