<div class="collection-wrapper">

  <div class="collection">

    <div class="collection__grid">


        <div class="item">
            <div class="item__wrap">
              <a class="item__image-link" href="#">
                <img
                    src="/assets/post-hero-thumb.jpg"
                    sizes="(min-width: 601px) 33vw, 99vw"
                    data-srcset="/assets/post-hero-thumb.jpg 377w,
                            /assets/post-hero-thumb@2x.jpg 754w"
                    class="item__image lazyload" alt="">
                </a>
                <div class="item__info">
                  <h3 class="item__title"><a href="#">Blog post title goes here & might be long engough to break</a></h3>
                  <div class="item__excerpt"><p>Vulpes iustum utrum. Euismod distineo tation nulla gravis luptatum nisl pagus. Duis quidem incassum gilvus enim. Epulae vulpes mauris ventosus pecus torqueo abluo...</p></div>
                </div>
            </div>
        </div>

        <div class="item">
            <div class="item__wrap">
              <a class="item__image-link" href="#">
                <img
                    src="/assets/post-hero-thumb.jpg"
                    sizes="(min-width: 601px) 33vw, 99vw"
                    data-srcset="/assets/post-hero-thumb.jpg 377w,
                            /assets/post-hero-thumb@2x.jpg 754w"
                    class="item__image lazyload" alt="">
                </a>
                <div class="item__info">
                  <h3 class="item__title"><a href="#">Blog post title goes here and is longer</a></h3>
                  <div class="item__excerpt"><p>Vulpes iustum utrum. Euismod distineo tation nulla gravis luptatum nisl pagus. Duis quidem incassum gilvus enim. Epulae vulpes mauris ventosus pecus torqueo abluo...</p></div>
                </div>
            </div>
        </div>

        <div class="item">
            <div class="item__wrap">
              <a class="item__image-link" href="#">
                <img
                    src="/assets/post-hero-thumb.jpg"
                    sizes="(min-width: 601px) 33vw, 99vw"
                    data-srcset="/assets/post-hero-thumb.jpg 377w,
                            /assets/post-hero-thumb@2x.jpg 754w"
                    class="item__image lazyload" alt="">
                </a>
                <div class="item__info">
                  <h3 class="item__title"><a href="#">A Blog post title that is different  here</a></h3>
                  <div class="item__excerpt"><p>Duis quidem incassum gilvus enim. Vulpes iustum utrum. Euismod distineo tation nulla gravis luptatum nisl pagus. Epulae vulpes mauris ventosus pecus torqueo abluo...</p></div>
                </div>
            </div>
        </div>

        <div class="item">
            <div class="item__wrap">
              <a class="item__image-link" href="#">
                <img
                    src="/assets/post-hero-thumb.jpg"
                    sizes="(min-width: 601px) 33vw, 99vw"
                    data-srcset="/assets/post-hero-thumb.jpg 377w,
                            /assets/post-hero-thumb@2x.jpg 754w"
                    class="item__image lazyload" alt="">
                </a>
                <div class="item__info">
                  <h3 class="item__title"><a href="#">Blog post title goes here</a></h3>
                  <div class="item__excerpt"><p>Euismod distineo tation nulla gravis luptatum nisl pagus. Vulpes iustum utrum. Duis quidem incassum gilvus enim. Epulae vulpes mauris ventosus pecus torqueo abluo...</p></div>
                </div>
            </div>
        </div>

        <div class="item">
            <div class="item__wrap">
              <a class="item__image-link" href="#">
                <img
                    src="/assets/post-hero-thumb.jpg"
                    sizes="(min-width: 601px) 33vw, 99vw"
                    data-srcset="/assets/post-hero-thumb.jpg 377w,
                            /assets/post-hero-thumb@2x.jpg 754w"
                    class="item__image lazyload" alt="">
                </a>
                <div class="item__info">
                  <h3 class="item__title"><a href="#">Blog post title goes here and is longer</a></h3>
                  <div class="item__excerpt"><p>Vulpes iustum utrum. Euismod distineo tation nulla gravis luptatum nisl pagus. Duis quidem incassum gilvus enim. Epulae vulpes mauris ventosus pecus torqueo abluo...</p></div>
                </div>
            </div>
        </div>

        <div class="item">
            <div class="item__wrap">
              <a class="item__image-link" href="#">
                <img
                    src="/assets/post-hero-thumb.jpg"
                    sizes="(min-width: 601px) 33vw, 99vw"
                    data-srcset="/assets/post-hero-thumb.jpg 377w,
                            /assets/post-hero-thumb@2x.jpg 754w"
                    class="item__image lazyload" alt="">
                </a>
                <div class="item__info">
                  <h3 class="item__title"><a href="#">A Blog post title that is different  here</a></h3>
                  <div class="item__excerpt"><p>Duis quidem incassum gilvus enim. Vulpes iustum utrum. Euismod distineo tation nulla gravis luptatum nisl pagus. Epulae vulpes mauris ventosus pecus torqueo abluo...</p></div>
                </div>
            </div>
        </div>


    </div>

  </div>
</div>
