

            <!-- shift to one column at $bp_mobile_large. Same as options panel. -->
            <div class="product-slider carousel color-option-1 is-hidden">
                <#
                {# {% if product.images.size %}{% for image in product.images limit: num_featured %} #} {#
                <a class="productPhotos__anchor" href="{{ image.src | product_img_url: 'master' }}" data-smoothzoom="group1"><img rel="zoom" class="productPhotos__image owl-lazy" data-src="{{ image.src | product_img_url: 'grande' }}" src="{{ image.src | product_img_url: 'grande' }}" alt="{{ image.alt }}" itemprop="image" /></a> #}
                #>
                <div class="carousel-cell">
                        <img
                            src="/assets/product-pic-1_grande.jpg"
                            sizes="(min-width: 601px) 49vw, 99vw"
                            data-srcset="/assets/product-pic-1_large.jpg 480w,
                                    /assets/product-pic-1_grande.jpg 600w,
                                    /assets/product-pic-1_1024x1024.jpg 1024w,
                                    /assets/product-pic-1_1024x1024.jpg 1400w"
                            class="product-slider__image lazyload" alt="">
                </div>
                <div class="carousel-cell">
                        <img
                            src="/assets/product-pic-1_grande.jpg"
                            sizes="(min-width: 601px) 49vw, 99vw"
                            data-srcset="/assets/product-pic-2_large.jpg 480w,
                                /assets/product-pic-2_grande.jpg 600w,
                                /assets/product-pic-2_1024x1024.jpg 1024w,
                                /assets/product-pic-2_1024x1024.jpg 1400w"
                            class="product-slider__image lazyload" alt="">
                </div>
                <div class="carousel-cell">
                        <img
                            src="/assets/product-pic-1_grande.jpg"
                            sizes="(min-width: 601px) 49vw, 99vw"
                            data-srcset="/assets/product-pic-3_medium.jpg 240w,
                                /assets/product-pic-3_large.jpg 480w,
                                /assets/product-pic-3_grande.jpg 600w,
                                /assets/product-pic-3_1024x1024.jpg 1024w,
                                /assets/product-pic-3_1024x1024.jpg 1400w"
                            class="product-slider__image lazyload" alt="">
                </div>
                <div class="carousel-cell">
                        <img
                            src="/assets/product-pic-1_grande.jpg"
                            sizes="(min-width: 601px) 49vw, 99vw"
                            data-srcset="/assets/product-pic-4_medium.jpg 240w,
                                /assets/product-pic-4_large.jpg 480w,
                                /assets/product-pic-4_grande.jpg 600w,
                                /assets/product-pic-4_1024x1024.jpg 1024w,
                                /assets/product-pic-4_1024x1024.jpg 1400w"
                            class="product-slider__image lazyload" alt="">
                </div>
                <#
                {# {% endfor %}{% endif %} #}
                #>
            </div>
            <div class="slides color-option-1" style="display: none;">
                <#
                {# {% if product.images.size %}{% for image in product.images limit: num_featured %} #} {#
                <a class="productPhotos__anchor" href="{{ image.src | product_img_url: 'master' }}" data-smoothzoom="group1"><img rel="zoom" class="productPhotos__image owl-lazy" data-src="{{ image.src | product_img_url: 'grande' }}" src="{{ image.src | product_img_url: 'grande' }}" alt="{{ image.alt }}" itemprop="image" /></a> #}
                #>
                <div class="carousel-cell">
                        <img
                            src="/assets/product-pic-1_grande.jpg"
                            sizes="(min-width: 601px) 49vw, 99vw"
                            data-srcset="/assets/product-pic-1_large.jpg 480w,
                                    /assets/product-pic-1_grande.jpg 600w,
                                    /assets/product-pic-1_1024x1024.jpg 1024w,
                                    /assets/product-pic-1_1024x1024.jpg 1400w"
                            class="product-slider__image lazyload" alt="">
                </div>
                <div class="carousel-cell">
                        <img
                            src="/assets/product-pic-1_grande.jpg"
                            sizes="(min-width: 601px) 49vw, 99vw"
                            data-srcset="/assets/product-pic-2_large.jpg 480w,
                                /assets/product-pic-2_grande.jpg 600w,
                                /assets/product-pic-2_1024x1024.jpg 1024w,
                                /assets/product-pic-2_1024x1024.jpg 1400w"
                            class="product-slider__image lazyload" alt="">
                </div>
                <div class="carousel-cell">
                        <img
                            src="/assets/product-pic-1_grande.jpg"
                            sizes="(min-width: 601px) 49vw, 99vw"
                            data-srcset="/assets/product-pic-3_medium.jpg 240w,
                                /assets/product-pic-3_large.jpg 480w,
                                /assets/product-pic-3_grande.jpg 600w,
                                /assets/product-pic-3_1024x1024.jpg 1024w,
                                /assets/product-pic-3_1024x1024.jpg 1400w"
                            class="product-slider__image lazyload" alt="">
                </div>
                <div class="carousel-cell">
                        <img
                            src="/assets/product-pic-1_grande.jpg"
                            sizes="(min-width: 601px) 49vw, 99vw"
                            data-srcset="/assets/product-pic-4_medium.jpg 240w,
                                /assets/product-pic-4_large.jpg 480w,
                                /assets/product-pic-4_grande.jpg 600w,
                                /assets/product-pic-4_1024x1024.jpg 1024w,
                                /assets/product-pic-4_1024x1024.jpg 1400w"
                            class="product-slider__image lazyload" alt="">
                </div>
            </div>
            <!-- shift to one column at $bp_mobile_large. Same as options panel. -->
            <div class="slides color-option-2" style="display: none;">
                <#
                {# {% if product.images.size %}{% for image in product.images limit: num_featured %} #} {#
                <a class="productPhotos__anchor" href="{{ image.src | product_img_url: 'master' }}" data-smoothzoom="group1"><img rel="zoom" class="productPhotos__image owl-lazy" data-src="{{ image.src | product_img_url: 'grande' }}" src="{{ image.src | product_img_url: 'grande' }}" alt="{{ image.alt }}" itemprop="image" /></a> #}
                #>
                <div class="carousel-cell">
                        <img
                            src="/assets/product-pic-1_grande.jpg"
                            sizes="(min-width: 601px) 49vw, 99vw"
                            data-srcset="/assets/product-pic-1_large.jpg 480w,
                                    /assets/product-pic-1_grande.jpg 600w,
                                    /assets/product-pic-1_1024x1024.jpg 1024w,
                                    /assets/product-pic-1_1024x1024.jpg 1400w"
                            class="product-slider__image lazyload" alt="">
                </div>
                <div class="carousel-cell">
                        <img
                            src="/assets/product-pic-1_grande.jpg"
                            sizes="(min-width: 601px) 49vw, 99vw"
                            data-srcset="/assets/product-pic-2_large.jpg 480w,
                                /assets/product-pic-2_grande.jpg 600w,
                                /assets/product-pic-2_1024x1024.jpg 1024w,
                                /assets/product-pic-2_1024x1024.jpg 1400w"
                            class="product-slider__image lazyload" alt="">
                </div>
                <div class="carousel-cell">
                        <img
                            src="/assets/product-pic-1_grande.jpg"
                            sizes="(min-width: 601px) 49vw, 99vw"
                            data-srcset="/assets/product-pic-3_medium.jpg 240w,
                                /assets/product-pic-3_large.jpg 480w,
                                /assets/product-pic-3_grande.jpg 600w,
                                /assets/product-pic-3_1024x1024.jpg 1024w,
                                /assets/product-pic-3_1024x1024.jpg 1400w"
                            class="product-slider__image lazyload" alt="">
                </div>
                <div class="carousel-cell">
                        <img
                            src="/assets/product-pic-1_grande.jpg"
                            sizes="(min-width: 601px) 49vw, 99vw"
                            data-srcset="/assets/product-pic-4_medium.jpg 240w,
                                /assets/product-pic-4_large.jpg 480w,
                                /assets/product-pic-4_grande.jpg 600w,
                                /assets/product-pic-4_1024x1024.jpg 1024w,
                                /assets/product-pic-4_1024x1024.jpg 1400w"
                            class="product-slider__image lazyload" alt="">
                </div>
                <#
                {# {% endfor %}{% endif %} #}
                #>
            </div>