<div class="collection-wrapper">

  <div class="collection">
      <h2 class="collection__caption">tops</h2>


      <div class="collection__grid">
        <div class="item">
            <div class="item__wrap">
              <a class="item__image-link" href="#">
                <img
                    src="/assets/product-pic-1_grande.jpg"
                    sizes="(min-width: 601px) 49vw, 99vw"
                    data-srcset="/assets/product-pic-1_large.jpg 480w,
                            /assets/product-pic-1_grande.jpg 600w,
                            /assets/product-pic-1_1024x1024.jpg 1024w,
                            /assets/product-pic-1_1024x1024.jpg 1400w"
                    class="item__image lazyload" alt="">
                </a>
                <div class="item__info">
                  <h3 class="item__name"><a href="#">grumpy little cardigan</a></h3>
                  <div class="item__variant-name"><a href="">dark grey heather</a></div>
                  <div class="item__price"><span>$24</span></div>
                </div>
            </div>
        </div>

        <div class="item">
            <div class="item__wrap">
              <a class="item__image-link" href="#">
                <img
                    src="/assets/product-pic-1_grande.jpg"
                    sizes="(min-width: 601px) 49vw, 99vw"
                    data-srcset="/assets/product-pic-1_large.jpg 480w,
                            /assets/product-pic-1_grande.jpg 600w,
                            /assets/product-pic-1_1024x1024.jpg 1024w,
                            /assets/product-pic-1_1024x1024.jpg 1400w"
                    class="item__image lazyload" alt="">
                </a>
                <div class="item__info">
                  <h3 class="item__name"><a href="#">grumpy little cardigan</a></h3>
                  <div class="item__variant-name"><a href="">dark grey heather</a></div>
                  <div class="item__price"><span>$24</span></div>
                </div>
            </div>
        </div>

        <div class="item">
            <div class="item__wrap">
              <a class="item__image-link" href="#">
                <img
                    src="/assets/product-pic-1_grande.jpg"
                    sizes="(min-width: 601px) 49vw, 99vw"
                    data-srcset="/assets/product-pic-1_large.jpg 480w,
                            /assets/product-pic-1_grande.jpg 600w,
                            /assets/product-pic-1_1024x1024.jpg 1024w,
                            /assets/product-pic-1_1024x1024.jpg 1400w"
                    class="item__image lazyload" alt="">
                </a>
                <div class="item__info">
                  <h3 class="item__name"><a href="#">grumpy little cardigan</a></h3>
                  <div class="item__variant-name"><a href="">dark grey heather</a></div>
                  <div class="item__price"><span>$24</span></div>
                </div>
            </div>
        </div>

        <div class="item">
            <div class="item__wrap">
              <a class="item__image-link" href="#">
                <img
                    src="/assets/product-pic-1_grande.jpg"
                    sizes="(min-width: 601px) 49vw, 99vw"
                    data-srcset="/assets/product-pic-1_large.jpg 480w,
                            /assets/product-pic-1_grande.jpg 600w,
                            /assets/product-pic-1_1024x1024.jpg 1024w,
                            /assets/product-pic-1_1024x1024.jpg 1400w"
                    class="item__image lazyload" alt="">
                </a>
                <div class="item__info">
                  <h3 class="item__name"><a href="#">grumpy little cardigan</a></h3>
                  <div class="item__variant-name"><a href="">dark grey heather</a></div>
                  <div class="item__price"><span>$24</span></div>
                </div>
            </div>
        </div>


      </div>
    </div>




    <div class="collection">
      <h2 class="collection__caption">bottoms</h2>
        <div class="collection__grid">
          <div class="item">
              <div class="item__wrap">
                <a class="item__image-link" href="#">
                  <img
                      src="/assets/product-pic-1_grande.jpg"
                      sizes="(min-width: 601px) 33vw, 50vw"
                      data-srcset="/assets/product-pic-1_large.jpg 480w,
                              /assets/product-pic-1_grande.jpg 600w,
                              /assets/product-pic-1_1024x1024.jpg 1024w,
                              /assets/product-pic-1_1024x1024.jpg 1400w"
                      class="item__image lazyload" alt="">
                  </a>
                  <div class="item__info">
                    <h3 class="item__name"><a href="#">grumpy little cardigan</a></h3>
                    <div class="item__variant-name"><a href="">dark grey heather</a></div>
                    <div class="item__price"><span>$24</span></div>
                  </div>
              </div>
          </div>

          <div class="item">
              <div class="item__wrap">
                <a class="item__image-link" href="#">
                  <img
                      src="/assets/product-pic-1_grande.jpg"
                      sizes="(min-width: 601px) 49vw, 99vw"
                      data-srcset="/assets/product-pic-1_large.jpg 480w,
                              /assets/product-pic-1_grande.jpg 600w,
                              /assets/product-pic-1_1024x1024.jpg 1024w,
                              /assets/product-pic-1_1024x1024.jpg 1400w"
                      class="item__image lazyload" alt="">
                  </a>
                  <div class="item__info">
                    <h3 class="item__name"><a href="#">grumpy little cardigan</a></h3>
                    <div class="item__variant-name"><a href="">dark grey heather</a></div>
                    <div class="item__price"><span>$24</span></div>
                  </div>
              </div>
          </div>

          <div class="item">
              <div class="item__wrap">
                <a class="item__image-link" href="#">
                  <img
                      src="/assets/product-pic-1_grande.jpg"
                      sizes="(min-width: 601px) 49vw, 99vw"
                      data-srcset="/assets/product-pic-1_large.jpg 480w,
                              /assets/product-pic-1_grande.jpg 600w,
                              /assets/product-pic-1_1024x1024.jpg 1024w,
                              /assets/product-pic-1_1024x1024.jpg 1400w"
                      class="item__image lazyload" alt="">
                  </a>
                  <div class="item__info">
                    <h3 class="item__name"><a href="#">grumpy little cardigan</a></h3>
                    <div class="item__variant-name"><a href="">dark grey heather</a></div>
                    <div class="item__price"><span>$24</span></div>
                  </div>
              </div>
          </div>

          <div class="item">
              <div class="item__wrap">
                <a class="item__image-link" href="#">
                  <img
                      src="/assets/product-pic-1_grande.jpg"
                      sizes="(min-width: 601px) 49vw, 99vw"
                      data-srcset="/assets/product-pic-1_large.jpg 480w,
                              /assets/product-pic-1_grande.jpg 600w,
                              /assets/product-pic-1_1024x1024.jpg 1024w,
                              /assets/product-pic-1_1024x1024.jpg 1400w"
                      class="item__image lazyload" alt="">
                  </a>
                  <div class="item__info">
                    <h3 class="item__name"><a href="#">grumpy little cardigan</a></h3>
                    <div class="item__variant-name"><a href="">dark grey heather</a></div>
                    <div class="item__price"><span>$24</span></div>
                  </div>
              </div>
          </div>

          <div class="item">
              <div class="item__wrap">
                <a class="item__image-link" href="#">
                  <img
                      src="/assets/product-pic-1_grande.jpg"
                      sizes="(min-width: 601px) 49vw, 99vw"
                      data-srcset="/assets/product-pic-1_large.jpg 480w,
                              /assets/product-pic-1_grande.jpg 600w,
                              /assets/product-pic-1_1024x1024.jpg 1024w,
                              /assets/product-pic-1_1024x1024.jpg 1400w"
                      class="item__image lazyload" alt="">
                  </a>
                  <div class="item__info">
                    <h3 class="item__name"><a href="#">grumpy little cardigan</a></h3>
                    <div class="item__variant-name"><a href="">dark grey heather</a></div>
                    <div class="item__price"><span>$24</span></div>
                  </div>
              </div>
          </div>

          <div class="item">
              <div class="item__wrap">
                <a class="item__image-link" href="#">
                  <img
                      src="/assets/product-pic-1_grande.jpg"
                      sizes="(min-width: 601px) 49vw, 99vw"
                      data-srcset="/assets/product-pic-1_large.jpg 480w,
                              /assets/product-pic-1_grande.jpg 600w,
                              /assets/product-pic-1_1024x1024.jpg 1024w,
                              /assets/product-pic-1_1024x1024.jpg 1400w"
                      class="item__image lazyload" alt="">
                  </a>
                  <div class="item__info">
                    <h3 class="item__name"><a href="#">grumpy little cardigan</a></h3>
                    <div class="item__variant-name"><a href="">dark grey heather</a></div>
                    <div class="item__price"><span>$24</span></div>
                  </div>
              </div>
          </div>


      </div>
  </div>

</div><!-- / collection-wrapper -->