<div class="product-info">

  <div class="product-info__description">
    <h3>description</h3>
    <p>
      Opes wisi scisco. Importunus occuro nostrud a praemitto venio patria facilisi exerci aliquip imputo brevitas. Accumsan ut
      nobis damnum sudo commoveo os antehabeo nimis laoreet.
    </p>
    <p>
      If product descriptions get longer, then this column will push everything else down.
    </p>
  </div>
  <div class="product-info__details">
    <h3>details</h3>
    <ul>
      <li>Opes wisi scisco</li>
      <li>Importunus occuro nostrud a praemitto</li>
      <li>Enio patria facilisi exerci aliquip imputo brevitas</li>
      <li>Accumsan ut nobis damnum sudo commoveo</li>
      <li>Tehabeo nimis laoreet</li>
    </ul>
  </div>

</div>