{% extends "layout.njk" %}
{% block content %}
<div class="tiles">

  <div class="tile__box">
    <div class="tile__content-wrap">
      <div class="tile__table">
        <img
            src="https://unsplash.it/600/600/?blur"
            sizes="(min-width: 601px) 50vw, 100vw"
            data-srcset="https://unsplash.it/600/600/?blur 700w,
                    https://unsplash.it/600/600/?blur 1400w"
            class="tile__image lazyload" alt="">
      </div>
    </div>
  </div>
  <div class="tile__box tile__box--grey">
    <div class="tile__content-wrap">
      <div class="tile__table">
        <span class="tile__table-cell tile__table-cell--has-text">
              <span class="tile__number">#1</span>
              <span class="tile__title">Tile Title</span>
              <span class="tile__info">
                Far far away, behind the word mountains, far from the countries
                Vokalia and Consonantia, there live the blind texts. Separated
                they live in Bookmarksgrove right at the coast of the Semantics,
                a large language ocean <a href="#">#TotallySquare</a>.
              </span>
        </span>
      </div>
    </div>
  </div>

  <div class="tile__box tile__box--pink">
    <div class="tile__content-wrap">
      <div class="tile__table">
        <span class="tile__table-cell tile__table-cell--has-text">
              <span class="tile__number">#2</span>
              <span class="tile__title">Another One</span>
              <span class="tile__info">
                Far far away, behind the word mountains, far from the countries
                Vokalia and Consonantia, there live the blind texts. Separated
                they live in Bookmarksgrove right at the coast of the Semantics,
                a large language ocean.
              </span>
        </span>
      </div>
    </div>
  </div>
  <div class="tile__box">
    <div class="tile__content-wrap">
      <div class="tile__cta-link-wrap">
        <a class="tile__cta-link" href="#"><span>CTA LINK</span></a>
      </div>
      <div class="tile__table">
        <img
            src="https://unsplash.it/600/600/?blur"
            sizes="(min-width: 601px) 50vw, 100vw"
            data-srcset="https://unsplash.it/600/600/?blur 700w,
                    https://unsplash.it/600/600/?blur 1400w"
            class="tile__image lazyload" alt="">
      </div>
    </div>
  </div>

</div><!-- end: .tiles -->
<pre class="line-numbers"><code class="language-markup"><xmp>
<div class="tiles">

  <div class="tile__box">
    <div class="tile__content-wrap">
      <div class="tile__table">
        <img
            src="https://unsplash.it/600/600/?blur"
            sizes="(min-width: 601px) 50vw, 100vw"
            data-srcset="https://unsplash.it/600/600/?blur 700w,
                    https://unsplash.it/600/600/?blur 1400w"
            class="tile__image lazyload" alt="">
      </div>
    </div>
  </div>
  <div class="tile__box tile__box--grey">
    <div class="tile__content-wrap">
      <div class="tile__table">
        <span class="tile__table-cell tile__table-cell--has-text">
              <span class="tile__number">#1</span>
              <span class="tile__title">Tile Title</span>
              <span class="tile__info">
                Far far away, behind the word mountains, far from the countries
                Vokalia and Consonantia, there live the blind texts. Separated
                they live in Bookmarksgrove right at the coast of the Semantics,
                a large language ocean <a href="#">#TotallySquare</a>.
              </span>
        </span>
      </div>
    </div>
  </div>

  <div class="tile__box tile__box--pink">
    <div class="tile__content-wrap">
      <div class="tile__table">
        <span class="tile__table-cell tile__table-cell--has-text">
              <span class="tile__number">#2</span>
              <span class="tile__title">Another One</span>
              <span class="tile__info">
                Far far away, behind the word mountains, far from the countries
                Vokalia and Consonantia, there live the blind texts. Separated
                they live in Bookmarksgrove right at the coast of the Semantics,
                a large language ocean.
              </span>
        </span>
      </div>
    </div>
  </div>
  <div class="tile__box">
    <div class="tile__content-wrap">
      <div class="tile__video-link-wrap">
        <a class="tile__video-link" href="#">CTA LINK</a>
      </div>
      <div class="tile__table">
        <img
            src="https://unsplash.it/600/600/?blur"
            sizes="(min-width: 601px) 50vw, 100vw"
            data-srcset="https://unsplash.it/600/600/?blur 700w,
                    https://unsplash.it/600/600/?blur 1400w"
            class="tile__image lazyload" alt="">
      </div>
    </div>
  </div>

</div><!-- end: .tiles -->
</xmp></code></pre>
{% endblock %}
